@model PracaDyplomowa.ViewsModel.AccoutVM
<div class="row">
    <div class="col-12 text-center m-auto " id="accountProfileName">
        <h2>
            @Model.FirmName
        </h2>
    </div>
</div>
<div class="row">
    <div class=" col-md-8">


        <div class="row " id="accountProfileDescription">
            <div class="col-12   m-auto">
                @Model.FirmDescriotion
            </div>
        </div>
        <div class="row d-none" id="acountProfileUpdateForm">
            <form asp-action="UpdateFirmAccount" method="post" class="col-12">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="FirmName" class="col-sm-2 col-form-label">Nazwa firmy</label>
                    <div class="col-sm-10">
                        <input asp-for="FirmName" class="form-control" />
                        <span asp-validation-summary="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="FirmDescriotion" class="col-sm-2 col-form-label">Opis firmy </label>
                    <div class=" col-sm-10">
                        <input asp-for="FirmDescriotion" class="form-control" value="@Model.FirmDescriotion" />
                        <span asp-validation-for="FirmDescriotion" class="text-danger"></span>
                    </div>
                </div>
                <input type="submit" class="btn btn-dark" value="Zatwierdź zaminy" />
            </form>
        </div>
        <div class="row">
            @if (Model.Tokens != null)
            {
                <h4 class="col-12  m-auto">Strony publikacji:</h4>
                <ul class="col-12   m-auto">
                    @foreach (var item in Model.Tokens)
                    {
                    <div class="row">
                        <div class="col-8 col-lg-8  border-info m-auto">
                            @item.NamePage
                        </div>
                        <form class="form-horizontal  col-4 m-o p-o" method="delete" asp-controller="Token" asp-action="DeleteToken">
                            <div class="form-group d-none">
                                <input asp-for="DelTokentText" value="@item.TokenText" />
                            </div>
                            <div class=" row">
                                <input type="submit" class="btn-danger btn  m-0 w-100 col-6 text-center" value="Usuń" />

                            </div>
                        </form>
                    </div>
                       
                    }
                </ul>
                
            }
        </div>
        @*<div class="row">
            <form asp-action="UpdateFirmAccount" method="post" class="col-12">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="FirmName" class="col-sm-2 col-form-label">Nazwa firmy</label>
                    <div class="col-sm-10">
                        <input asp-for="FirmName" class="form-control" />
                        <span asp-validation-summary="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="FirmDescriotion" class="col-sm-2 col-form-label">Opis firmy </label>
                    <div class=" col-sm-10">
                        <input asp-for="FirmDescriotion" class="form-control" value="@Model.FirmDescriotion" />
                        <span asp-validation-for="FirmDescriotion" class="text-danger"></span>
                    </div>
                </div>
                <input type="submit" value="Zatwierdź zaminy" />
            </form>
        </div>
        <div class="row">
            <h3> Dodaj stone publikacji:</h3>
            <form asp-action="AddToken" asp-controller="Token" method="post" class="col-12">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group row">
                    <label asp-for="NewTokenText" class="col-sm-2 col-form-label">Token:</label>
                    <div class="col-sm-10">
                        <input asp-for="NewTokenText" class="form-control" />
                        <span asp-validation-summary="NewTokenText" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="NewPageId" class="col-sm-2 col-form-label">Id strony </label>
                    <div class=" col-sm-10">
                        <input asp-for="NewPageId" class="form-control" />
                        <span asp-validation-for="NewPageId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="NewNamePage" class="col-sm-2 col-form-label">Nazwa strony </label>
                    <div class=" col-sm-10">
                        <input asp-for="NewNamePage" class="form-control" />
                        <span asp-validation-for="NewNamePage" class="text-danger"></span>
                    </div>
                </div>
                <input type="submit" value="Dodaj" />
            </form>
        </div>*@
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary m-1 w-100 text-center" id="btnFirmProfillUpdate" onclick="DisplayFirmProfileUpdateForm()">Edytuj porfil firmy</button>
        <button class="btn btn-primary m-1 w-100 text-center" id="btnAddPostPage" onclick="DisplaypostPageForm()">Dodaj stronę publikacji</button>

    </div>
</div>
<div class="row d-none" id="PostPageForm">
    <div class="col-12">
        <h3> Dodaj stone publikacji:</h3>
        <form asp-action="AddToken" asp-controller="Token" method="post" class="col-12">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="NewTokenText" class="col-sm-2 col-form-label">Token:</label>
                <div class="col-sm-10">
                    <input asp-for="NewTokenText" class="form-control" />
                    <span asp-validation-summary="NewTokenText" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="NewPageId" class="col-sm-2 col-form-label">Id strony </label>
                <div class=" col-sm-10">
                    <input asp-for="NewPageId" class="form-control" />
                    <span asp-validation-for="NewPageId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="NewNamePage" class="col-sm-2 col-form-label">Nazwa strony </label>
                <div class=" col-sm-10">
                    <input asp-for="NewNamePage" class="form-control" />
                    <span asp-validation-for="NewNamePage" class="text-danger"></span>
                </div>
            </div>
            <input class="btn btn-dark float-right" type="submit" value="Dodaj" />
        </form>
        <div class="col-12">
            <button class=" btn btn-primary" onclick="DisplayaddTokeInstruktion()">Jak uzyskać token i id strony</button>
            <div class="col-12 d-none" id="addTokienInnstruction">
                <ol>
                    <li>Konto Facebook  dla firm</li>
                    <li>
                        MyApps

                        <ol>
                            <li>Wybierz opcję „Manage Business Integrations</li>
                            <li>App Display Name (dowolna nazwa aplikacji np. Wydarzenia )</li>
                            <li>App Purpose = Clients</li>
                        </ol>
                    </li>

                    <li>
                        Tools
                    </li>
                    <li>
                        Graph API Explorer(https://developers.facebook.com/tools/explorer)
                        <ol>
                            <li>Facebook App (Wybierz swoją aplikację  )</li>
                            <li>User or page ( wybierz „Get user Access Token”</li>
                            <li>
                                Wybierz uprawnienia
                                <ul>
                                    <li>pages_show_list</li>
                                    <li>ads_management</li>
                                    <li>business_management</li>
                                    <li>attribution_read</li>
                                    <li>pages_read_engagement</li>

                                </ul>
                            </li>
                            <li>Generate Access Token</li>
                        </ol>

                    </li>
                    <li>
                        Access Token Debugger(https://developers.facebook.com/tools/debug/accesstoken)
                        <ol>
                            <li>Wydłuż ważność wygenerowanego tokenu (Extend Access Token )</li>
                        </ol>
                    </li>
                    <li>W Graph API Explorer submit polecenie „me/accounts”</li>
                    <li>Skopiuj access token i page id</li>

                </ol>
            </div>

        </div>
    </div>
   
</div>
<script>
    //document.getElementById("btnAddPostPage").click(){
    //    document.getElementById("PostPageForm").classList.remove("d-none");
    //}
    function DisplaypostPageForm() {
        var element = document.getElementById("PostPageForm");
        if (element.classList) {
            element.classList.toggle("d-none");
        } else {
            // For IE9
            var classes = element.className.split(" ");
            var i = classes.indexOf("d-none");

            if (i >= 0)
                classes.splice(i, 1);
            else
                classes.push("d-none");
            element.className = classes.join(" ");
        }
    }
    function DisplayFirmProfileUpdateForm() {
        var elementUpdate = document.getElementById("acountProfileUpdateForm");
        var elementName = document.getElementById("accountProfileName");
        var elementDescription = document.getElementById("accountProfileDescription");

        if (elementUpdate.classList && elementDescription.classList && elementName.classList) {
                elementName.classList.toggle("d-none");
                elementDescription.classList.toggle("d-none");
                elementUpdate.classList.toggle("d-none");
            } else {
                // For IE9
                var classesName = elementName.className.split(" ");
                var classesDescription = elementDescription.className.split(" ");
                var classesUpdate = elementUpdate.className.split(" ");
                var iName = classes.indexOf("d-none");
                var iDescription = classes.indexOf("d-none");
                var iUpdate = classesUpdate.indexOf("d-none");

                if (iName >= 0)
                    classesName.splice(i, 1);
                else
                    classesName.push("d-none");
                elementName.className = classes.join(" ");

                if (iDescription >= 0)
                    classesDescription.splice(i, 1);
                else
                    classesDescription.push("d-none");
                elementDescription.className = classes.join(" ");

                if (iUpdate >= 0)
                    classesUpdate.splice(iUpdate, 1);
                else
                    classesUpdate.push("d-none");
                element.className = classesUpdate.join(" ");
            } 
    }
    function DisplayaddTokeInstruktion() {
        var element = document.getElementById("addTokienInnstruction");
        if (element.classList) {
            element.classList.toggle("d-none");
        } else {
            // For IE9
            var classes = element.className.split(" ");
            var i = classes.indexOf("d-none");

            if (i >= 0)
                classes.splice(i, 1);
            else
                classes.push("d-none");
            element.className = classes.join(" ");
        }
    }
</script>