@model PracaDyplomowa.ViewsModel.EventsListVM
@foreach (var e in Model.eventList)
{
    <div class="row">
        <div class="col-12 text-center" id="EventName"><h2>@e.Name</h2></div>
    </div>
    <div class="col-lg-6 col-lg-4">

        <h3>Numer: @e.EventId</h3>
        <h3>Krótki opis: @e.ShortDescription</h3>
        <h3>Opis: @e.Description</h3>
        <h3>Miejsce: @e.Place</h3>
        <h3>Data rozpoczęcia: @e.DateStart</h3>
        <h3>Data zakończenia: @e.DateEnd</h3>
        @*<button><a id="nav-link" class="btn btn-primary" href="@Url.Action("DetailsEvent","Event")\@e.EventId ">Szczegóły</a></button>*@
        <form asp-action="DetailsEvent" asp-controller="Event" method="post">
            <div class="form-group d-none">
                <input asp-for="id" value="@e.EventId" />
            </div>
            <input type="submit" class="btn btn-primary" value="Szczegóły" />
        </form>



    </div>


}
