@model PracaDyplomowa.ViewsModel.EventsListVM
<div class="container">
    <button type="button" class="btn btn-info btn-secondary" data-toggle="collapse" data-target="#demo">Wyszukaj</button>
    <div id="demo" class="collapse">
        <div class="col-12">
            <form method="post" asp-action="SearchEvents">
                <div class="form-group row">
                    <label class="col-form-label col-12" asp-for="searchName">Nazwa</label>
                    <div class=" col-12">
                        <input class="form-control" asp-for="searchName" placeholder="Nazwa" />
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="CheckedTags" class="col-12 col-form-label ">Tagi</label>
                    <div class="col-12 ">
                        @if (Model.Tags != null)
                        {
                            @foreach (Tag t in Model.Tags)
                            {
                                <div class="form-check form-check-inline ">
                                    <input class="form-check-input" name="CheckedTags" type="checkbox" value="@t.TagId">
                                    <label class="form-check-label" asp-for="CheckedTags">@t.Name</label>
                                </div>
                            }}
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="form-check form-check-inlin ">
                                <input class="form-check-input" name="userEventSearch" type="checkbox" value="@User.Identity.Name">
                                <label class="form-check-label" asp-for="userEventSearch">Wyszukaj tylko moje wydarzenia</label>
                            </div>
                        }

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-12" asp-for="searchPlace">Miejsce</label>
                    <div class=" col-12">
                        <input class="form-control" asp-for="searchPlace" placeholder="Miejsce" />
                    </div>
                </div>
                <div class="form-group row">

                    <label class="col-form-label col-12" asp-for="searcDateStart">Trwające </label>
                    <label class="col-form-label col-1" asp-for="searcDateStart"> od: </label>
                    <div class="col-5">
                        <input class="form-control " asp-for="searcDateStart" type="date" value="@DateTime.Today" />
                    </div>
                    <label class="col-form-label col-1" asp-for="searcDateEnd"> do: </label>
                    <div class="col-5">
                        <input class="form-control " asp-for="searcDateEnd" type="date" value="@DateTime.Today" />

                    </div>

                </div>
                
                <div class="form-group row">
                    <label class="col-form-label col-12" asp-for="typeSort">Typ sortowania</label>
                    <div class="text-center col-12">
                        <div class="row">
                            <input class="form-control col-1" asp-for="typeSort" type="radio" value="Down" />
                            <label class="col-form-label col-2" asp-for="typeSort">Malejąco</label>
                        </div>
                        <div class="row">
                            <input class="form-control col-1" asp-for="typeSort" type="radio" value="Up" />
                            <label class="col-form-label col-2" asp-for="typeSort">Rosnąco</label>
                        </div>
                        <input type="submit" class="btn btn-info btn-secondary  col-2 float-right" value="Szukaj" />
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
@foreach (var e in Model.eventList)
{


    <div class="row">
        <div class="col-12 text-center" id="EventName"><h2>@e.Name</h2></div>
    </div>
    <div class="col-12">
        <h3>Krótki opis: @e.ShortDescription</h3>
        @if (e.Tags != null)
        {
            @foreach (EventeTag t in e.Tags)
            {
                <div class="form-check form-check-inline text-success">
                    <h4>@t.Tag.Name</h4>
                </div>
               }
        }
        <h3>Miejsce: @e.Place</h3>
        <h3>Data rozpoczęcia: @e.DateStart</h3>
        <h3>Data zakończenia: @e.DateEnd</h3>

        <form asp-action="DetailsEvent" asp-controller="Event" method="post">
            <div class="form-group d-none">
                <input asp-for="id" value="@e.EventId" />
            </div>
            <input type="submit" class="btn btn-primary" value="Szczegóły" />
        </form>
    </div>


}
